.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  margin: 60px 0 60px 0;
  font-size: 100px;
  font-weight: bold;
}

input {
  width: 400px;
  height: 40px;
  margin-bottom: 50px;
  border: 3px solid black;
}
.logo {
  margin-left: 20px;
  font-size: 30px;
}
button {
  font-size: 45px;
  margin-bottom: 50px;
}
.button1 {
  margin-left: 40px;
}
